
<%
var posts = _.cms('posts')
if (_.pageName.includes('posts/') || _.pageName.includes('home') ) {
  posts = _.cms('posts').reverse().splice(0,2)
}
%>

<% if (Array.isArray(posts) && posts.length) {
  %>
    <div class="blog my-4 my-lg-5 ">
      <div class="container">
        <div class="mb-3">
          <ul class="d-flex list-unstyled">
            <li class="px-2">
              Compartilhe
            </li>
            <li class="px-2">
              <a target="_blank" href="https://wa.me/5516991314918?text=Blog%20Duas%20Xícaras%20-%20https://www.duasxicaras.com.br/blog">
                <i class="fab fa-whatsapp" style="color: rgb(37, 211, 102);"></i>
              </a>
            </li>
            <li class="px-2">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.duasxicaras.com.br%2Fblog&titleBlog%20Duas%20Xícaras&description=&quote=&hashtag=">
                <i class="fab fa-facebook" style="color: rgb(24, 119, 242);"></i>
              </a>
            </li>
            <li class="px-2">
              <a target="_blank" href="https://t.me/share/url?url=https%3A%2F%2Fwww.duasxicaras.com.br%2Fblog&text=Blog%20Duas%20Xícaras%20-%20https://www.duasxicaras.com.br/blog">
                <i class="fab fa-telegram" style="color: rgb(0, 136, 204);"></i>
              </a>
            </li>
            <li class="px-2">
              <a target="_blank" href="mailto:?subject=Veja nossos posts do blog em https://www.duasxicaras.com.br/blog">
                <i class="fas fa-envelope" style="color: rgb(51, 51, 51);"></i>
              </a>
            </li>
            <li class="px-2">
              <a target="_blank" href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.duasxicaras.com.br%2Fblog">
                <i class="fab fa-linkedin" style="color: rgb(0, 123, 181);"></i>
              </a>
            </li>

          </ul>
        </div>
        <div class="row">
          <% posts.forEach(slug => { %>
            <% const { title, thumbnail, description } = _.cms(`posts/${slug}`) %>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-md-0">
              <div class="card">
                <% if (thumbnail) { %>
                  <a href="/posts/<%= slug %>">
                    <img
                      src="<%= thumbnail.replace('.png','.webp') %>"
                      class="card-img-top"
                      alt="<%= title %>"
                    >
                  </a>
                <% } %>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/posts/<%= slug %>">
                      <%= title %>
                    </a>
                  </h5>
                  <p class="card-text">
                    <%= description.substring(0,500) %>...
                  </p>
                  <a href="/posts/<%= slug %>" class="product-card__link_direct">
                    Continuar Lendo
                  </a>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  <%
}
%>
